In [18]:
import sqlite3

con = sqlite3.connect("week3.sqlite", isolation_level=None)
cur = con.cursor()

In [19]:
cur.execute("""DROP TABLE IF EXISTS movies""")

In [20]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [27]:
# Check if the table is created
q = """
SELECT
    name
FROM
    sqlite_master
"""
res = cur.execute(q)

In [28]:
# Fetch the first row
res.fetchone()

('movies',)

In [29]:
q = """
SELECT
    *
FROM
    movies
"""

res = cur.execute(q)
res.fetchall()

[(1, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:25:52'),
 (2, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:26:29'),
 (3, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:26:50')]

In [26]:
q = """
INSERT INTO
    movies (
        title,
        year,
        rating
    ) VALUES (
        ?, 
        ?, 
        ?)
"""

cur.execute(q, ("The Matrix", 1999, 5.0))

In [32]:
q = """
INSERT INTO
    movies (
        title,
        year,
        rating
    ) VALUES (
        ?, 
        ?, 
        ?)
"""

cur.execute(q, ["The Matrix", 1999, 5.0])

In [36]:
q = """
INSERT INTO
    movies (
        title,
        year,
        rating
    ) VALUES (
        ?, 
        ?, 
        ?)
"""

cur.execute(q, ["Forest Gump", 1994, 3.5])

In [37]:
[x for x in cur.execute("""SELECT * FROM movies""")]

[(1, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:34:25'),
 (2, 'Forest Gump', 1994, 3.5, 0, '2024-01-23 23:36:21')]

In [42]:
res = cur.execute("""SELECT * FROM movies""")

In [43]:
for row in res:
    print(row)

(1, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:34:25')
(2, 'Forest Gump', 1994, 3.5, 0, '2024-01-23 23:36:21')

In [45]:
data = [
    ("Inception", 2010, 5.0),
    ("The Dark Knight", 2008, 5.0)
]

In [46]:
# Insert multiple records

# # The inefficient way
# for row in data:
#     cur.execute(q, row)

# A more efficient way - inserting multiple rows at a time
cur.executemany(
    "INSERT INTO movies (title, year, rating) VALUES(?, ?, ?)",
    data)

# Pandas

In [47]:
import pandas as pd

In [ ]:
data = [
    {"name": "Concert"},
    {"name": "Beer Festival"},
]